client
dev tun
proto {{ openvpn_protocol }}
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth_digest }}
resolv-retry infinite
nobind
persist-key
persist-tun
route {{ ansible_default_ipv4.address }} 255.255.255.255 net_gateway

# Use this remote line if you are connecting to OpenVPN directly
# --
remote {{ openvpn_server }} {{ openvpn_port }}

# Use this remote line if you are routing OpenVPN through stunnel
# --
#remote 127.0.0.1 41194

ca ca.crt
cert client.crt
key client.key
ns-cert-type server
tls-auth ta.key 1
comp-lzo
verb 3
