generated-docs
*.retry
*.pyc
*~
*.swp
*.tmp
*.temp
.DS_Store
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# Ignore changes to the existing server inventory to allow users to modify it
inventories/inventory-existing

# Ignore the Streisand diagnostics file we generate each run
streisand-diagnostics.md

# We recommend people use a Python virtualenv, and document this as
# the location.
venv/
