[defaults]
inventory = inventories/inventory

# This is a convenient setting for a brand-new Streisand server that
# you are connecting to for the first time. However, this line should be
# commented out if you are connecting to an existing server where a
# known_hosts entry has already been created. Host key checking happens
# by default in Ansible.
host_key_checking = False

# Workaround for an Ansible issue with temporary paths:
# https://github.com/ansible/ansible/issues/21562
remote_tmp = $HOME/.ansible/tmp
local_tmp = $HOME/.ansible/tmp

# Some providers take a long time to actually begin accepting
# connections even after the OpenSSH daemon has started.
timeout = 100

[ssh_connection]
pipelining = True
