# Install Streisand requirements with:
#
#   pip install -r ./requirements.txt
#
# If you have problems running this, try the util/venv-builder.sh script.

# Core with Azure dependencies
#
ansible[azure]==2.8.4

SecretStorage

# AWS
boto
boto3

# Google Compute Engine
requests
google-auth
apache-libcloud

# Linode
linode-api4

# Rackspace
pyrax
