# Install Streisand requirements with:
#
#   pip install -r ./requirements.txt
#
# If you have problems running this, try the util/venv-builder.sh script.

# Core with Azure dependencies
#
ansible[azure]==2.8.0

# Multiple packages depend on SecretStorage, and versions >= 3 require
# Python 3. Until we're ready for Python 3, specify the earlier rev.
#
# If we end up pinning more package versions, we should consider using
# pip constraints files instead of forcing installation.
#
SecretStorage<3.0

# AWS
boto
boto3

# Digital Ocean
dopy==0.3.5

# Google Compute Engine
requests
google-auth
apache-libcloud

# Linode
linode-api4

# Rackspace
pyrax
