Instructions will eventually go here.

The randomly chosen name of the bridge is: {{ tor_bridge_nickname.stdout }} 

For now, here is the bridge information for the new server. This is in the same format that BridgeDB (https://bridges.torproject.org/) returns:

    obfs2 {{ ansible_default_ipv4.address }}:{{ tor_obfs_ports.results[0].stdout }} {{ tor_fingerprint.stdout|lower }}
    obfs3 {{ ansible_default_ipv4.address }}:{{ tor_obfs_ports.results[1].stdout }} {{ tor_fingerprint.stdout|lower }}
