---
chap_password_file: "/etc/ppp/chap-password"
ipsec_preshared_key_file: "/etc/ipsec.preshared-key"

libreswan_compilation_dependencies:
  - bison
  - flex
  - libcap-ng-dev
  - libcap-ng-utils
  - libcurl4-nss-dev
  - libevent-dev
  - libgmp3-dev
  - libnspr4-dev
  - libnss3-dev
  - libnss3-tools
  - libpam0g-dev
  - libselinux1-dev
  - libunbound-dev
  - pkg-config
  - xmlto
libreswan_checksum: "sha256:28c286f57f6d8d00e1502ea283aac0f9f863edb2d759e50dc89df0e28c0d0d03"
libreswan_version: "3.17"
libreswan_compilation_directory: "/usr/local/src/libreswan-{{ libreswan_version }}"
libreswan_source_filename: "libreswan-{{ libreswan_version }}.tar.gz"
libreswan_source_location: "/usr/local/src/{{ libreswan_source_filename }}"

l2tp_ipsec_firewall_rules:
  - iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  - iptables -A INPUT -i lo -j ACCEPT
  - iptables -A INPUT -p udp --dport 67:68 --sport 67:68 -j ACCEPT
  - iptables -A INPUT -p udp -m multiport --dports 500,4500 -j ACCEPT
  - iptables -A INPUT -p udp --dport 1701 -m policy --dir in --pol ipsec -j ACCEPT
  - iptables -A INPUT -p udp --dport 1701 -j DROP
  - iptables -A FORWARD -i eth+ -o ppp+ -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  - iptables -A FORWARD -i ppp+ -o eth+ -j ACCEPT
  - iptables -t nat -A POSTROUTING -s 192.168.42.0/24 -o eth+ -j SNAT --to-source {{ ansible_default_ipv4.address }}

l2tp_ipsec_gateway_location: "{{ streisand_gateway_location }}/l2tp-ipsec"

l2tp_ipsec_markdown_instructions: "{{ l2tp_ipsec_gateway_location }}/index.md"
l2tp_ipsec_html_instructions: "{{ l2tp_ipsec_gateway_location }}/index.html"

ppp_options_file: "/etc/ppp/options.xl2tpd"

python_sni_dependencies:
  - ndg-httpsclient
  - pyasn1
  - pyopenssl
  - urllib3
