# "{{ item[0].stdout }}" - Streisand WireGuard Client Profile
[Interface]
Address = 10.192.122.{{ (item[0].item|int) + 1 }}/32{% if streisand_ipv6_address is defined %},fde9:7496:c3d7:a47f::{{ 1001+(item[0].item|int) }}/128 {% endif %}


# The use of DNS below effectively expands to:
#   PostUp = echo nameserver {{ dnsmasq_wireguard_ip }} | resolvconf -a tun.%i -m 0 -x
#   PostDown = resolvconf -d tun.%i
# If the use of resolvconf is not desirable, simply remove the DNS line
# and use a variant of the PostUp/PostDown lines above.
# The IP address of the DNS server that is available via the encrypted
# WireGuard interface is {{ dnsmasq_wireguard_ip }}.
DNS = {{ dnsmasq_wireguard_ip }}{% if streisand_ipv6_address is defined %},{{ dnsmasq_wireguard_ipv6 }} {% endif %}


PrivateKey = {{ item[1].stdout }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0{% if streisand_ipv6_address is defined %}, ::/0 
{% endif %} 
Endpoint = {{ streisand_ipv4_address }}:{{ wireguard_port }}