{% include "languages.md.j2" %}

WireGuard
---------

Si vous êtes un utilisateur Linux, [WireGuard](https://www.wireguard.com/) est presque certainement la meilleure option de connexion que Streisand fournit. Ceci est dû à sa [performance incroyable](https://www.wireguard.com/performance/), [cryptographie de pointe](https://www.wireguard.com/protocol/), et beaucoup, beaucoup d'autres avantages.

WireGuard n'est actuellement disponible que pour Linux, mais support [multi-plateforme](https://www.wireguard.com/xplatform/) et les implémentations portables sont en cours de développement.

---

<a name="linux"></a>
### Linux ###
1. [Installer WireGuard](https://www.wireguard.com/install/)
1. Téléchargez un fichier de configuration client. **Un seul ordinateur peut utiliser un profil à la fois**. Pour cet exemple, nous supposerons que vous avez téléchargé le fichier {{ vpn_client_names.results[0].stdout }}:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/wireguard/{{ client.stdout }}.conf)
{% endfor %}
1. Déplacez le fichier de configuration du client dans le répertoire correct:

   `sudo sh -c 'umask 077; mkdir -p /etc/wireguard; cat > /etc/wireguard/{{ vpn_client_names.results[0].stdout }}.conf' < ~/Downloads/{{ vpn_client_names.results[0].stdout }}.conf`

1. Utilisez l'utilitaire `wg-quick` pour démarrer l'interface WireGuard:

   `sudo wg-quick up {{ vpn_client_names.results[0].stdout }}`

1. Vous devriez être prêt à partir! Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur DuckDuckGo]({{ streisand_my_ip_url }}). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.

1. Pour arrêter de routé votre trafic via WireGuard, simplement arrêtez l'interface:

   `sudo wg-quick down {{ vpn_client_names.results[0].stdout }}`

#### Une note sur la configuration DNS ####
Chaque fichier inclure la commande `DNS` qui utilise `resolvconf` afin de diriger le trafic DNS vers le serveur dnsmasq qui est disponible via l'interface cryptée WireGuard à `{{ dnsmasq_wireguard_ip }}`. Bien que `resolvconf` soit un utilitaire commun, vous devrez peut-être remplacer cette ligne avec `PostUp`/`PostDown` pour votre distribution ou votre configuration réseau particulière.
