[Interface]
Address = 10.192.122.2/32
# These PostUp and PostDown commands should work on most distributions,
# but you may need to modify them if your network situation is unique.
#
# The IP address of the DNS server that is available via the encrypted
# WireGuard interface is {{ dnsmasq_wireguard_ip }}.
{% if streisand_client_test %}
# NOTE(@cpu): we use the suffix `|| true` for the PostUp/PostDown when
# generating this template with streisand_client_test enabled. See
# https://github.com/jlund/streisand/pull/696
PostUp = echo nameserver {{ dnsmasq_wireguard_ip }} | resolvconf -a %i -m 0 -x || true
PostDown = resolvconf -d %i || true
{% else %}
PostUp = echo nameserver {{ dnsmasq_wireguard_ip }} | resolvconf -a %i -m 0 -x
PostDown = resolvconf -d %i
{% endif %}
PrivateKey = {{ wireguard_client_private_key }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ streisand_ipv4_address }}:{{ wireguard_port }}
