[Interface]
Address = 10.192.122.2/32
# These PostUp and PostDown commands should work on most distributions,
# but you may need to modify them if your network situation is unique.
#
# The IP address of the DNS server that is available via the encrypted
# WireGuard interface is {{ dnsmasq_wireguard_ip }}.
PostUp = echo nameserver {{ dnsmasq_wireguard_ip }} | resolvconf -a tun.%i -m 0 -x
PostDown = resolvconf -d tun.%i
PrivateKey = {{ wireguard_client_private_key }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ streisand_ipv4_address }}:{{ wireguard_port }}
