logoutput: syslog

internal: 10.8.0.1 port = 1080
external: {{ ansible_default_ipv4.interface }}

user.privileged: proxy
user.notprivileged: nobody

method: none

client pass {
  from: 10.8.0.0/24 to: 0.0.0.0/0
  log: error
}

pass {  
  from: 0.0.0.0/0 to: 0.0.0.0/0
  protocol: tcp udp
}
