Shadowsocks
===========

Linux, Mac OS X, Windows
------------------------
The [Shadowsocks website](http://shadowsocks.org/en/download/clients.html) has several clients available for these platforms. Here is the configuration information that you'll need:

         Server: {{ streisand_ipv4_address }}
         Port: {{ shadowsocks_server_port }}
         Password: {{ shadowsocks_password.stdout }}
         Encryption Method: {{ shadowsocks_encryption_method }}

Android
-------
1. Download [Shadowsocks for Android](https://play.google.com/store/apps/details?id=com.github.shadowsocks) and launch it
2. Tap the menu icon in the top-left of the screen
3. Tap 'Add Profile'
4. Select 'Scan QR code'
5. Open the shadowsocks-qr-code.png image file that is located in the same folder as these instructions, and use your phone to scan it off your screen
6. Uncheck the 'CHN Route' option
7. Slide the switch to 'On'
8. Accept the Android VPN connection warning
9. Visit http://curlmyip.com or http://ip4.me in your browser. Your IP address should be listed as '{{ streisand_ipv4_address }}'.

iOS
---
1. Download [Shadowsocks for iOS](https://itunes.apple.com/tc/app/shadowsocks/id665729974) and launch it
2. Tap the menu icon in the top-right of the screen
3. Tap 'Config via QRCode'
4. Open the shadowsocks-qr-code.png image file that is located in the same folder as these instructions, and use your phone to scan it off your screen
5. Tap 'OK' when the 'Use this server?' pop-up appears
6. Tap the menu icon in the top-right of the screen
7. Tap 'Settings'
8. Tap 'Proxy Mode' and choose 'Global'
9. Go back, and tap the 'Done' button in the upper-right
10. Double click the home button, and slide Shadowsocks off the top of the screen to close it
11. Press the home button, and relaunch the application
12. Visit http://curlmyip.com or http://ip4.me in the Shadowsocks browser. Your IP address should be listed as '{{ streisand_ipv4_address }}'.

Now that Shadowsocks is properly configured, you can can launch it anytime and use its integrated browser to visit any blocked site. You can also route traffic from other iOS applications through the encrypted proxy. Instructions for this functionality (and details on its limitations) are available on the [Shadowsocks iOS Wiki](https://github.com/shadowsocks/shadowsocks-iOS/wiki/Help).
