---
- name: Create network
  gce_net:
    name: "{{ gce_network }}"
    state: "present"
    ipv4_range: "{{ gce_ipv4_range }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"
    service_account_email: "{{ gce_service_account_email }}"

- name: Open the SSH port in the GCE firewall
  gce_net:
    name: "{{ gce_network }}"
    fwname: "streisand-{{ gce_server_name }}-ssh"
    allowed: "tcp:{{ ssh_port }}"
    state: "present"
    src_range: 0.0.0.0/0
    service_account_email: "{{ gce_service_account_email }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"

- name: Open necessary TCP ports across most services in the GCE firewall
  gce_net:
    name: "{{ gce_network }}"
    fwname: "streisand-{{ gce_server_name }}-other"
    allowed: "tcp:{{ nginx_port }},{{ shadowsocks_server_port }},{{ stunnel_remote_port }},{{ tor_orport }},{{ tor_obfs4_port }}"
    state: "present"
    src_range: 0.0.0.0/0
    service_account_email: "{{ gce_service_account_email }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"

- name: Open the OpenConnect (ocserv) port in the GCE firewall
  gce_net:
    name: "{{ gce_network }}"
    fwname: "streisand-{{ gce_server_name }}-openconnect"
    allowed: "tcp:{{ ocserv_port }};udp:{{ ocserv_port }}"
    state: "present"
    src_range: 0.0.0.0/0
    service_account_email: "{{ gce_service_account_email }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"

- name: Open the OpenVPN port in the GCE firewall
  gce_net:
    name: "{{ gce_network }}"
    fwname: "streisand-{{ gce_server_name }}-openvpn"
    allowed: "tcp:{{ openvpn_port }};udp:{{ openvpn_port_udp }}"
    state: "present"
    src_range: 0.0.0.0/0
    service_account_email: "{{ gce_service_account_email }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"

- name: Open the L2TP/IPsec ports in the GCE firewall
  gce_net:
    name: "{{ gce_network }}"
    fwname: "streisand-{{ gce_server_name }}-l2tp-ipsec"
    allowed: "udp:500,4500,1701"
    state: "present"
    src_range: 0.0.0.0/0
    service_account_email: "{{ gce_service_account_email }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"

- name: Open the WireGuard port in the GCE firewall
  gce_net:
    name: "{{ gce_network }}"
    fwname: "streisand-{{ gce_server_name }}-wireguard"
    allowed: "udp:{{ wireguard_port }}"
    state: "present"
    src_range: 0.0.0.0/0
    service_account_email: "{{ gce_service_account_email }}"
    credentials_file: "{{ gce_json_file_location }}"
    project_id: "{{ gce_project_id }}"
