You have arrived
================
*Welcome to the '{{ streisand_server_name }}' [Streisand](https://github.com/jlund/streisand) Gateway server. You are only moments away from an uncensored connection to the Internet.*

Connection Instructions
-----------------------
* [L2TP/IPsec](/l2tp-ipsec/)
* [OpenVPN (direct)](/openvpn/)
* [OpenVPN (stunnel)](/openvpn/stunnel.html)
* [Shadowsocks](/shadowsocks/)
* [SSH](/ssh/)
* [Tor](/tor/)

[Client Mirror](/mirror/)
-------------------------
The mirror includes copies of the OpenVPN, Shadowsocks, SSH, stunnel, and Tor client files for Windows, OS X, and Linux.
