- name: Copy the modified rsyslog configuration into place that prevents Libreswan and OpenConnect traffic from being logged
  copy:
    src: "{{ item }}"
    dest: /etc/rsyslog.d/{{ item }}
    owner: root
    group: root
    mode: 0644
  with_items:
    - 40-ipsec.conf
    - 41-openconnect.conf
  notify: Restart rsyslog
