- - -
{% for key, value in streisand_languages.iteritems() %}
  [{{ value.language_name }}]({{ streisand_server_name }}-firewall-information{{ value.file_suffix }}.html)&nbsp;
{% endfor %}
- - -

Firewall Information
--------------------

These ports are open by default when Streisand creates a new server from scratch on a supported provider.

If you are installing Streisand on an existing server or alternate provider then you need to make sure the firewall allows traffic to the new server on the following ports:

---
* L2TP/IPsec
  * UDP - 500
  * UDP - 1701
  * UDP - 4500
* Nginx (Streisand Gateway)
  * TCP - {{ nginx_port }}
* OpenConnect / Cisco AnyConnect
  * TCP - {{ ocserv_port }}
  * UDP - {{ ocserv_port }}
* OpenSSH
  * TCP - {{ ssh_port }}
* OpenVPN
  * UDP - 53 to/from `{{ dnsmasq_openvpn_tcp_ip }}`
  * UDP - 53 to/from `{{ dnsmasq_openvpn_udp_ip }}`
    * Dnsmasq listens for DNS traffic on these IPs and responds to requests from connected OpenVPN clients.
  * TCP - {{ openvpn_port }}
  * UDP - {{ openvpn_port_udp }}
* Shadowsocks
  * TCP - {{ shadowsocks_server_port }}
  * UDP - {{ shadowsocks_server_port }}
* stunnel
  * TCP - {{ stunnel_remote_port }}
* Tor
  * TCP - {{ tor_orport }} - Bridge
  * TCP - {{ tor_obfs4_port }} - obfs4 pluggable transport
* WireGuard
  * UDP - 53 to/from `{{ dnsmasq_wireguard_ip }}`
    * Dnsmasq listens for DNS traffic on this IP and responds to requests from connected WireGuard clients.
  * UDP - {{ wireguard_port }}
