{% include "languages.md.j2" %}

Informations à propos du pare-feu
---------------------------------

Ces ports sont ouverts par défaut lorsque Streisand crée un nouveau serveur à partir de zéro sur un fournisseur soutenu.

Si vous installez Streisand sur un serveur existant ou un fournisseur alternatif, vous devez vous assurer que le pare-feu autorise les ports suivants:

---
* Nginx (Passerelle Streisand)
  * TCP - {{ nginx_port }}
{% if streisand_le_enabled %}
* HTTP (Let's Encrypt)
  * TCP - {{ le_port }}
{% endif %}
{% if streisand_openconnect_enabled %}
* OpenConnect / Cisco AnyConnect
  * TCP - {{ ocserv_port }}
  * UDP - {{ ocserv_port }}
{% endif %}
* OpenSSH
  * TCP - {{ ssh_port }}
{% if streisand_openvpn_enabled %}
* OpenVPN
  * UDP - 53 de/à `{{ dnsmasq_openvpn_tcp_ip }}`
  * UDP - 53 de/à `{{ dnsmasq_openvpn_udp_ip }}`
    * Dnsmasq écoute le trafic DNS sur ces adresses IP et répond aux requêtes des clients OpenVPN connectés.
  * TCP - {{ openvpn_port }}
  * UDP - {{ openvpn_port_udp }}
{% if streisand_stunnel_enabled %}
* stunnel
  * TCP - {{ stunnel_remote_port }}
{% endif %}
{% endif %}
{% if streisand_shadowsocks_enabled %}
* Shadowsocks
  * TCP - {{ shadowsocks_server_port }}
  * UDP - {{ shadowsocks_server_port }}
{% endif %}
{% if streisand_tor_enabled %}
* Tor
  * TCP - {{ tor_orport }} - Pont
  * TCP - {{ tor_obfs4_port }} - obfs4 transport enfichable
{% endif %}
{% if streisand_wireguard_enabled %}
* WireGuard
  * UDP - 53 de/à `{{ dnsmasq_wireguard_ip }}`
    * Dnsmasq écoute le trafic DNS sur cette IP et répond aux requêtes des clients WireGuard connectés.
  * UDP - {{ wireguard_port }}
{% endif %}
