- - -
{% for key, value in streisand_languages.iteritems() %}
  [{{ value.language_name }}](index{{ value.file_suffix }}.html)&nbsp;
{% endfor %}
- - -

Bienvenue sur le serveur passerelle **{{streisand_server_name}}** de [Streisand](https://github.com/jlund/streisand). Vous n'êtes qu'à quelques minutes d'une connexion libre et non-censurée à l'internet.

Instructions de connexion
-------------------------
---

Il existe de multiples façons de contourner la censure, et Streisand vous propose plusieurs choix et différents protocoles dans le cas où l'un d'entre eux ne marche pas.

* [L2TP/IPsec](/l2tp-ipsec/index-fr.html)
* [OpenConnect / Cisco AnyConnect](/openconnect/index-fr.html)
* [OpenVPN (direct)](/openvpn/index-fr.html)
* [OpenVPN (stunnel)](/openvpn/stunnel-fr.html)
* [Shadowsocks](/shadowsocks/index-fr.html)
* [SSH](/ssh/index-fr.html)
* [Tor](/tor/index-fr.html)
* [WireGuard](/wireguard/index-fr.html)

Miroirs des clients
-------------------
---

Vous pouvez télécharger le logiciel client nécessaire directement auprès de Streisand au cas où les sites officiels seraient bloqués. Ces versions pourraient être un peu dépassées (selon la configuration de ce serveur), mais elles peuvent être facilement mises à jour une fois que vous avez connecté à l'i'nternet ouvert.

* [OpenConnect](/mirror/index-fr.html#openconnect)
* [OpenVPN](/mirror/index-fr.html#openvpn)
* [Shadowsocks](/mirror/index-fr.html#shadowsocks)
* [SSH](/mirror/index-fr.html#ssh)
* [stunnel](/mirror/index-fr.html#stunnel)
* [Tor Browser Bundle](/mirror/index-fr.html#tor)
