# SSL Gateway
server {
  listen 127.0.0.1:{{ nginx_port }} default_server ssl;

  ssl_certificate      {{ nginx_self_signed_certificate }};
  ssl_certificate_key  {{ nginx_private_key }};
  add_header Strict-Transport-Security max-age=631138519;

  auth_basic            "Authorization Required";
  auth_basic_user_file  {{ streisand_gateway_htpasswd_file }};

  # Disable all logging
  access_log /dev/null;
  error_log  /dev/null crit;

  root  {{ streisand_gateway_location }};
  index index.html index.htm;

  location /monit/ {
    rewrite ^/monit/(.*) /$1 break;
    proxy_ignore_client_abort on;
    proxy_pass   http://localhost:2812; 
  }
}

# Tor Hidden Service Gateway
server {
  listen {{ nginx_internal_hidden_service_address }};

  auth_basic            "Authorization Required";
  auth_basic_user_file  {{ streisand_gateway_htpasswd_file }};

  # Disable all logging
  access_log /dev/null;
  error_log  /dev/null crit;

  root  {{ streisand_gateway_location }};
  index index.html index.htm;
}
