<!--

Please share the contents of this file when you open a new Streisand issue
https://github.com/jlund/streisand-discussions/issues/ 

It will help the developers reproduce your problem and provide a fix.
-->

### Ansible Information

* Ansible version: {{ hostvars['localhost']['ansible_version']['full'] }}
* Ansible arch: {{ hostvars['localhost']['ansible_architecture'] }}
* Ansible system: {{ hostvars['localhost']['ansible_system'] }}
* Host OS: {{ hostvars['localhost']['ansible_distribution'] }}
* Host OS version:  {{ hostvars['localhost']['ansible_distribution_version'] }}
* Python interpreter: {{ hostvars['localhost']['ansible_python_interpreter'] }}
* Python version: {{ hostvars['localhost']['ansible_python_version'] }}

### Streisand Information

* Streisand Git revision: {{ streisand_diagnostics_git_rev.stdout }}
* Streisand Git clone has untracked changes: {{ streisand_diagnostics_git_untracked.stdout }}
* Genesis role: {{ streisand_genesis_role }}

### Enabled Roles

* Shadowsocks enabled:  {{ streisand_shadowsocks_enabled }}
* Wireguard enabled: {{ streisand_wireguard_enabled }}
* OpenVPN enabled: {{ streisand_openvpn_enabled }}
* stunnel enabled: {{ streisand_stunnel_enabled }}
* Tor enabled: {{ streisand_tor_enabled }}
* Openconnect enabled: {{ streisand_openconnect_enabled }}
* TinyProxy enabled: {{ streisand_tinyproxy_enabled }}
* SSH forward user enabled: {{ streisand_ssh_forward_enabled }}
* L2TP enabled: {{ streisand_l2tp_enabled }}
* Configured number of VPN clients: {{ vpn_clients }}
