set daemon 30
with start delay 120
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set httpd port 2812 and
    use address localhost  # Bind monit to localhost

    # Allow any ip to connect to monit. Binding monit to localhost
    # and requiring basic auth (through nginx) should be sufficient to protect this interface.
    allow 0.0.0.0/0.0.0.0 # allow any ip to connect to monit.

# OpenSSH
check process sshd with pidfile /var/run/sshd.pid
   start program  "/usr/sbin/service ssh start"
   stop program  "/usr/sbin/service ssh stop"
   if failed port {{ ssh_port }} protocol ssh then restart
   # if 5 restarts within 5 cycles then timeout


# dnsmasq
check process dnsmasq with pidfile /var/run/dnsmasq/dnsmasq.pid
  start program = "/usr/sbin/service dnsmasq start" with timeout 60 seconds
  stop program = "/usr/sbin/service dnsmasq stop"
  if failed
    host 127.0.0.1
    port 53 use type udp
    protocol dns
    with timeout 60 seconds
  then restart
  if 3 restarts within 5 cycles then timeout
  depends on dnsmasq-bin
  depends on dnsmasq-hosts

check file dnsmasq-bin with path /usr/sbin/dnsmasq
   if failed checksum then unmonitor
   if failed permission 755 then unmonitor
   if failed uid root then unmonitor
   if failed gid root then unmonitor

check file dnsmasq-hosts with path /etc/hosts
   if changed timestamp then restart

{% if streisand_tinyproxy_enabled %}

# Tinyproxy
check process tinyproxy with pidfile /var/run/tinyproxy/tinyproxy.pid
   start program  "/usr/sbin/service tinyproxy start"
   stop program  "/usr/sbin/service tinyproxy stop"
   if failed host 127.0.0.1 port 8888 type tcp then restart
   # if 5 restarts within 5 cycles then timeout

{% endif %}

# sslh
check process sslh with pidfile /var/run/sslh/sslh.pid
   start program  "/usr/sbin/service sslh start"
   stop program  "/usr/sbin/service sslh stop"
   if failed host {{ ansible_default_ipv4.address }} port 443 type tcp then restart
   # if 5 restarts within 5 cycles then timeout


# Configuration Credits
# --
# dnsmasq
#   https://www.the-hawkes.de/monitor-your-raspberrypi-with-monit.html
#
# nginx
#   https://gist.github.com/franck/1415908
#
# OpenVPN
#   http://grimore.org/unix/monit/openvpn
#
# stunnel
#   http://www.peter.ca/article11.11.html
#
# Tinyproxy
#   http://grimore.org/unix/monit/tinyproxy
