"acme-enter-email": "{{ streisand_admin_email }}"
"acme-agreement:{{ le_agreements }}": true
"acmetool-quickstart-choose-server": "{{ le_api_endpoint }}"
"acmetool-quickstart-choose-method": redirector
"acmetool-quickstart-complete": true
"acmetool-quickstart-install-cronjob": true
"acmetool-quickstart-install-haproxy-script": false
"acmetool-quickstart-install-redirector-systemd": true
"acmetool-quickstart-key-type": rsa
"acmetool-quickstart-rsa-size": 2048
