{
    "server":"{{ ansible_default_ipv4.address }}",
    "server_port":{{ shadowsocks_server_port }},
    "local_port":{{ shadowsocks_local_port }},
    "password":"{{ shadowsocks_password.stdout }}",
    "timeout":{{ shadowsocks_timeout }},
    "method":"{{ shadowsocks_encryption_method }}",
    "fast_open":{{ shadowsocks_tcp_fast_open }}
{%- if streisand_shadowsocks_v2ray_enabled -%}
,
    "plugin":"{{ shadowsocks_location }}/v2ray-plugin",
    "plugin_opts":"{{ v2ray_options }}"
{% endif %}
}
