cert = {{ stunnel_cert }}
key = {{ stunnel_key }}
debug = 4
options = NO_SSLv2
options = NO_SSLv3
options = NO_TLSv1
options = NO_TLSv1.1
ciphers = {{ streisand_tls_ciphers }}

[stunnel]
accept = {{ stunnel_remote_port }}
connect = 127.0.0.1:{{ openvpn_port }}
