---
- name: Install stunnel
  apt:
    name: stunnel4

- name: Generate the stunnel private key
  command: openssl genrsa -out {{ stunnel_key }} {{ stunnel_key_size }}
  args:
    creates: "{{ stunnel_key }}"

- name: Generate the stunnel certificate and combine it with a unique Diffie-Hellman group
  shell: openssl req -new -nodes -x509 -key {{ stunnel_key}} -days {{ stunnel_days_valid }} -subj "{{ stunnel_request_subject }}/CN=stunnel" | cat - {{ dhparams_location }} > {{ stunnel_cert }}
  args:
    creates: "{{ stunnel_cert }}"

- name: "Export the key and certificate file in PKCS #12 format"
  command: "openssl pkcs12 -export -in {{ stunnel_cert }} -inkey {{ stunnel_key }} -out {{ stunnel_pkcs12 }} -password pass:"
  args:
    creates: "{{ stunnel_pkcs12 }}"

- name: Set the proper permissions on the stunnel key file
  file:
    path: "{{ stunnel_key }}"
    owner: root
    group: root
    mode: 0600

- name: Configure stunnel to start at boot
  lineinfile:
    dest: /etc/default/stunnel4
    regexp: "^ENABLED"
    line: "ENABLED=1"

- name: Generate remote stunnel configuration file (for the server)
  template:
    src: stunnel-remote.conf.j2
    dest: "{{ stunnel_path }}/stunnel.conf"
  notify: Restart stunnel

- name: Generate local stunnel configuration file (for connecting clients)
  template:
    src: stunnel-local.conf.j2
    dest: "{{ openvpn_gateway_location }}/stunnel.conf"
