#!/usr/bin/expect -f
set timeout -1
spawn ocpasswd -c {{ ocserv_hashed_password_file }} streisand
match_max 100000
expect -exact "Enter password: "
send -- "{{ ocserv_password.stdout }}\r"
expect -exact "\r
Re-enter password: "
send -- "{{ ocserv_password.stdout }}\r"
expect eof
