OpenConnect / Cisco AnyConnect
-----------

---
* Platforms
  * [Windows](#windows)
  * [OS X](#osx)
  * [Linux](#linux)
  * [Android](#android)
  * [iOS](#ios)

<a name="windows"></a>
### Windows ###
1. You should be good to go! You can verify that your traffic is being routed properly by [looking up your IP address on Google](https://encrypted.google.com/search?hl=en&q=ip%20address). It should say *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="osx"></a>
### OS X ###

<a name="linux"></a>
### Linux ###

<a name="android"></a>
### Android ###

<a name="ios"></a>
### iOS ###
