[Unit]
Description=Set the firewall rules required for ocserv
After=network.target
Before=ocserv.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/sbin/{{ ocserv_firewall_rule_v6 }}

[Install]
WantedBy=multi-user.target