#! /bin/sh
#  /etc/init.d/ocserv

### BEGIN INIT INFO
# Provides:          ocserv
# Required-Start:    $all
# Required-Stop:     $all
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts OpenConnect server (ocserv)
# Description:       OpenConnect server (ocserv) is an SSL VPN server.
### END INIT INFO

PIDFILE={{ ocserv_pid_file }}
DAEMON=/usr/local/sbin/ocserv
DAEMON_ARGS="-c {{ ocserv_config_file }}"

case "$1" in
  start)
    echo "Starting OpenConnect (ocserv)"
    start-stop-daemon --start --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_ARGS > /dev/null
    ;;
  stop)
    echo "Stopping OpenConnect (ocserv)"
    start-stop-daemon --stop --pidfile $PIDFILE
    ;;
  restart)
    echo "Restarting OpenConnect (ocserv)"
    start-stop-daemon --stop --pidfile $PIDFILE
    sleep 1
    start-stop-daemon --start --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_ARGS > /dev/null
    ;;
  status)
    echo "Checking OpenConnect (ocserv) status"
    start-stop-daemon --status --pidfile $PID_FILE
    exit $?
    ;;
  *)
    echo "Usage: /etc/init.d/ocserv {start|stop|restart}"
    exit 1
    ;;
esac

exit 0
