client
{% if streisand_ipv6_address is defined %}
remote {{ streisand_ipv6_address }} {{ openvpn_port}} tcp6
{% endif %}
remote {{ openvpn_server }} {{ openvpn_port }} tcp
{% include "client-common.j2" %}
