dev tun
ca ca.crt
cert server.crt
key server.key  # This file should be kept secret
dh none
ifconfig-pool-persist ipp.txt
push "redirect-gateway def1"

# Fix for the Windows 10 DNS leak described here:
# https://community.openvpn.net/openvpn/ticket/605
push block-outside-dns

client-to-client
remote-cert-tls client

# Allow multiple clients with the same common name to concurrently connect.
# In the absence of this option, OpenVPN will disconnect a client instance
# upon connection of a new client having the same common name.
# duplicate-cn

keepalive 1800 3600
tls-crypt ta.key # This file is secret
cipher {{ openvpn_cipher }}
ncp-ciphers {{ openvpn_ncp_ciphers }}

# limit the tls ciphers
tls-cipher TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384

auth {{ openvpn_auth_digest }}
tls-version-min 1.2
compress
user nobody
group nogroup
persist-key
persist-tun
verb 0

script-security 2
tls-verify "/usr/share/openvpn/verify-cn /etc/allowed_vpn_certs"
