server 10.9.0.0 255.255.255.0
push "dhcp-option DNS {{ dnsmasq_openvpn_udp_ip }}"

{% if streisand_ipv6_address is defined %}
server-ipv6 2001:db8:0:123::/64
push "dhcp-option DNS6 {{ dnsmasq_openvpn_udp_ipv6 }}"
{% endif %}

proto udp6
port {{ openvpn_port_udp }}
{% include "etc_openvpn_server_common.j2" %}
