[Unit]
Description=Firewall rules required for OpenVPN
After=network.target
Before={{ openvpn_service_names | join(' ') }}

[Service]
Type=oneshot
RemainAfterExit=true
{% for rule in openvpn_firewall_rules %}
ExecStart=/sbin/{{ rule }}
{% endfor %}

{% if streisand_ipv6_enabled %}
{% for rule in openvpn_ipv6_firewall_rules %}
ExecStart=/sbin/{{ rule }}
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target
