---
- name: Install the ocserv dependencies
  apt:
    name: "{{ item }}"
  with_items: "{{ ocserv_dependencies }}"

- name: Copy the ocserv signing key
  copy:
    src:  ocserv_signing.key
    dest: /usr/local/src
    mode: 0600

- name: Import the ocserv key into the GPG keyring
  command: "gpg --import /usr/local/src/ocserv_signing.key"

- name: Register the gpg key fingerprints
  command: "gpg --list-keys --fingerprint"
  register: ocserv_fingerprint_results

- name: Ensure the ocserv key fingerprint matches the expected fingerint
  assert: { that: "ocserv_public_key_fingerprint in ocserv_fingerprint_results.stdout" }

- name: Download the ocserv source code and signature file
  include_role:
    name: download-and-verify
  vars:
    project_name: "OpenConnect"
    project_signer: "Nikos Mavrogiannopoulos"
    project_signing_key: "{{ ocserv_gpg_key_id }}"
    project_expected_fingerprint: "{{ ocserv_gpg_key_fingerprint }}"
    project_download_location: "/usr/local/src/"
    project_download_urls: "{{ ocserv_download_urls }}"
    gpg_key_server_address: "{{ mit_gpg_keyserver_address }}"
    signature_extension: "{{ ocserv_sig_extension }}"

- name: Extract the ocserv source code
  unarchive:
    copy: no
    src: "{{ ocserv_source_location }}"
    dest: /usr/local/src
    owner: root
    group: root
    creates: "{{ ocserv_compilation_directory }}/README.md"

- name: Compile and install ocserv
  shell: ./configure && make -j {{ ansible_processor_cores }} && make install
  args:
    chdir: "{{ ocserv_compilation_directory }}"
    creates: "{{ ocserv_compilation_directory }}/config.log"

- name: Create the OpenConnect rsyslog configuration directory
  file:
    path: /etc/rsyslog.d/openconnect.d/
    owner: root
    group: root
    mode: 0644
    state: directory

- name: Copy the modified rsyslog configuration into place that prevents OpenConnect traffic from being logged
  copy:
    src: openconnect.conf
    dest: /etc/rsyslog.d/openconnect.d/openconnect.conf
    owner: root
    group: root
    mode: 0644
  notify: Restart rsyslog for OpenConnect
