[Unit]
After=network.target sshd.service
Documentation=man:tinyproxy(8) man:tinyproxy.conf(5)
Documentation=https://www.banu.com/tinyproxy/

[Service]
ExecStart=/usr/sbin/tinyproxy -c {{ tinyproxy_conf_file }}
PrivateTmp=true
RestartSec=5s
Restart=on-failure
