L2TP/IPsec
----------

L2TP/IPsec est un excellent premier choix. Il est nativement pris en charge par Android, iOS, macOS et Windows. Il n'y a pas de logiciel supplémentaire à installer. L'installation ne devrait prendre que quelques minutes.

Si la connexion semble instable, vérifiez d'abord que les mots de passe ont été entrés correctement. Si vous ne pouvez toujours pas vous connecter, il est possible que votre pays ou votre FAI bloque le protocole L2TP/IPsec. L'un des autres services décrits dans le [README](/index-fr.html) peut fonctionner mieux pour vous.

---
* Plateformes
  * [Windows](#windows)
  * [macOS](#macos)
  * [Linux](#linux)
  * [Android](#android)
  * [iOS](#ios)
  * [Chromebook](#chromebook)

<a name="windows"></a>
### Windows ###

Ces instructions supposent Windows 7 ou version ultérieure.

Pour continuer, vous devez utiliser Windows PowerShell ISE en tant qu'administrateur. Pour commencer:

1. Navigeuz vers *Windows Powershell* dans le menu *Démarrer*.
1. Faites un clic droit sur *PowerShell ISE*, et choisissez "Exécuter en tant qu'administrateur"

#### Windows L2TP et NAT ####

Si vous vous connectez derrière un périphérique NAT (comme la plupart des routeurs domestiques), vous devez configurer un paramètre pour indiquer à Windows d'attendre le NAT. Cela doit être fait qu'une seule fois.

Lancez PowerShell ISE en tant qu'administrateur. Dans la fenêtre de commande ISE, collez le code suivant et appuyez sur *Retour*.

```
Set-ItemProperty -Path HKLM:\SYSTEM\CurrentControlSet\Services\PolicyAgent -Name AssumeUDPEncapsulationContextOnSendRule -Value 2 -Type DWord
```

Le réglage prendra effet après un redémarrage. Redémarrez votre ordinateur.

#### Enregistrement du VPN ####

Vous pouvez [configurer le VPN manuellement](#winmanual). Si vous utilisez Windows 7, cela est nécessaire.

Si vous utilisez Windows 8 ou une version ultérieure, vous pouvez configurer le VPN avec une commande de PowerShell ISE.

#### Enregistrement du VPN avec PowerShell

Lancez *PowerShell ISE* en tant qu'administrateur et collez ce bloc de code dans la fenêtre de commande:

```
Add-VpnConnection -Name {{ streisand_server_name }} -ServerAddress {{ streisand_ipv4_address }} -AuthenticationMethod Chap -EncryptionLevel Optional -TunnelType L2tp -Force -RememberCredential -L2tpPsk {{ ipsec_preshared_key.stdout }}
```

Windows vous imprimera un avertissement à propos de EAP/MS-CHAPv2. Ignorez-le.

Vous devez également vous connecter au serveur L2TP. Sur Windows 10, cliquez sur l'icône réseau dans la barre des tâches. Vous devriez voir `Se connecter à {{ streisand_server_name }}`. Cliquez dessus, et saisissez:

Nom d'utilisateur: `streisand`

Mot de passe: `{{ chap_password.stdout }}`

Vous ne devriez plus être invité à entrer le nom d'utilisateur/mot de passe. Passer à la [vérification de votre connexion](#wincheck)

<a name="winmanual"></a>

### Configuration VPN manuelle ###

Si vous ne souhaitez pas utiliser PowerShell, vous pouvez configurer le VPN à la main. Ces instructions sont principalement destinées aux personnes utilisant les systèmes d'exploitation Microsoft avant Windows 10, ou pour le dépannage.

1. Cliquez sur le menu *Démarrer* et sélectionnez le panneau de configuration.
1. Accédez à la section *Réseau et Internet*.
1. Cliquez sur *Afficher l'état du réseau*.
1. Cliquez sur *Connexion à un réseau*.
1. Sélectionnez *Connexion à votre espace de travail*.
1. Cliquez *Utiliser ma connexion Internet (VPN)*.
1. Saisissez `{{ streisand_ipv4_address }}` dans le champ *Adresse Internet*.
1. Saisissez `{{ streisand_server_name }}` dans le champ *Nom de la connexion*.
1. Cocher l'option *Ne pas me connecter maintenant, mais tout préparer pour une connexion ultériuere*.
1. Cliquez *Suivant*.
1. Saisissez `streisand` dans le champ *Nom d'utilisateur*.
1. Saisissez `{{ chap_password.stdout }}` dans le champ *Mot de passe*.
1. Cocher l'option *Mémoriser ce mot de passe*.
1. Cliquez *Créer*, en suite cliquez sur le bouton *Fermer*.
1. Revenez à la section panneau de configuration *Réseau et Internet* et cliquez sur l'option *Connexion à un réseau*.
1. Cliquez-droit sur la nouvelle connexion *{{ streisand_server_name }}* et choisissez *Propriétés*.
1. Cliquez sur l'onglet *Options* et décocher *Inclure le domaine d'ouverture de session Windows*.
1. Cliquez sur l'onglet *Sécurité* et Sélectionnez l'option *Protocole L2TP (Layer 2 Tunneling Protocol)* dans le menu déroulant *Type de réseau VPN*.
1. Cliquez le bouton *Paramètres avancés*.
1. Sélectionnez *Utiliser une clé prépartagée pour l'authentification* et saisissez `{{ ipsec_preshared_key.stdout }}` pour la *Clé*.
1. Cliquez *OK* pour fermer *Paramètres avancés*.
1. Cliquez *OK* pour sauvegarder les détails de connexion VPN.
1. Pour vous connecter au VPN, cliquez simplement sur l'icône sans fil/réseau dans votre barre d'état système, sélectionnez *{{streisand_server_name}}*, puis cliquez sur *Connecter*.

Si vous utilisez Windows 10, vous pouvez configurer le VPN manuellement en suivant les instructions ci-dessous.

1. Cliquez sur le menu *Démarrer* et lancez *Paramètres*.
1. Cliquez sur *Réseau et Internet*.
1. Cliquez sur *VPN*.
1. Cliquez sur *Ajouter une connexion VPN*.
1. Sélectionnez *Windows (built-in)* dans la liste déroulante *Fournisseur de VPN*.
1. Saisissez `{{ streisand_server_name }}` dans le champ *Nom de connexion*.
1. Saisissez `{{ streisand_ipv4_address }}` dans le champ *Nom ou adresse de serveur*.
1. Sélectionnez *L2TP/IPsec with pre-shared key* dans la liste déroulante *Type de VPN*.
1. Saisissez `{{ ipsec_preshared_key.stdout }}` dans le champ *Clé prépartagée*.
1. Sélectionnez *Nom d'utilisateur et mot de passe* dans la liste déroulante *Type d'informations de connexion*.
1. Saisissez `streisand` dans le champ *Nom d'utilisateur*. 
1. Saisissez `{{ chap_password.stdout }}` dans le champ *Mot de pass*.
1. Cocher l'option *Souvenez-vous de mes informations d'inscription* box.
1. Cliquez *Sauvgarder*.
1. Cliquez *Se Connecter*.

Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur Google](https://encrypted.google.com/search?hl=fr&q=ip%20address). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.

<a name="macos"></a>
### macOS ###

Il existe deux façons de configurer le VPN macOS L2TP pour se connecter à votre serveur Streisand. Le moyen le plus simple est d'installer un *profil* macOS contenant la configuration VPN. Vous pouvez également configurer le VPN [manuellement](#macos_manual).

Pour installer via le profil, cliquez ici:

 [__`streisand.mobileconfig`__](streisand.mobileconfig)

Si le fichier est téléchargé avec succès, macOS vous demandera si vous souhaitez l'installer. Cliquez sur *Continuer* pour confirmer. Une fois installé, vous pouvez [activer le VPN](#macos_connect).

Vos profils installés sont gérés dans le menu "Profils" des Préférences du système. Les profils de Streisand peuvent être retirés à tout moment.

Notez que les profils sont très puissants et que vous devez faire attention à l'installation des profils inconnus. macOS affichera quelles fonctionnalités seraient configurées par un profil avant l'installation. Dans le cas de Streisand, la seule fonctionnalité devra être "Service VPN".

<a name="macos_manual"></a>
Si vous préférez le configurer manuellement:

1. Ouvrir les préférences du système et aller à la section réseau
1. Cliquez le bouton *+* dans le coin inférieur gauche de la fenêtre.
1. Sélectionnez *VPN* dans le menu déroulant *Interface*.
1. Sélectionnez *L2TP via IPSec* dans le menu déroulant *Type de VPN*.
1. Saisissez `{{ streisand_server_name }}` dans le champ *Nom de service*.
1. Cliquez *Créer*.
1. Saisissez `{{ streisand_ipv4_address }}` pour *Adresse du serveur*.
1. Saisissez `streisand` pour *Nom du compte*.
1. Cliquez le bouton *Réglages d'authentification*.
1. Dans la section *Auth. des utilisateurs*, Sélectionnez le bouton *Mot de passe* et saisissez `{{ chap_password.stdout }}` pour sa valeur.
1. Dans la section *Auth. des machines*, Sélectionnez le bouton *Secret partagé* et saisissez `{{ ipsec_preshared_key.stdout }}` pour sa valeur.
1. Cliquez *OK*.
1. Cocher *Afficher l'état VPN dans la barre des menus.
1. Cliquez le bouton *Avancé* et vérifiez que l'option *Envoyer tout le trafic sur la connexion VPN* est coché.
1. Cliquez l'onglet *TCP/IP* tab, et vérifiez que l'option *Lien locale uniquement* est sélectionné dans la section *Configurer IPv6*.
1. Cliquez *OK* pour fermer le menu avancé, puis cliquez *Appliquer* pour sauvgarder le details du connexion VPN.

<a name="macos_connect"></a>
#### Connexion sur macOS ####
Pour activer le VPN:

* Utilisez l'icône VPN dans la barre de menus, ou
* Ouvrir *Réseau* dans *Préférences Système*. Cliquez sur l'entrée Streisand dans la liste des connexions. Appuyez sur le bouton *Se Connecter*.

Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur Google](https://encrypted.google.com/search?hl=fr&q=ip%20address). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.

<a name="linux"></a>
### Linux ###
Les connexions L2TP / IPsec ne sont pas prises en charge sur la plupart des distributions Linux sans nécessiter l'installation de logiciels supplémentaires. Cela annule l'un des plus grands appels de L2TP/IPsec (c'est-à-dire son support côté client natif). Il est recommandé d'utiliser une autre méthode de connexion comme OpenVPN à la place, mais si vous souhaitez configurer L2TP/IPsec sur votre bureau Linux, voici les paramètres dont vous aurez besoin:
    Adresse serveur: {{ streisand_ipv4_address }}

    Clé prépartagée IPsec: {{ ipsec_preshared_key.stdout }}

    Utilisateur CHAP: streisand
    Mot de passe CHAP: {{ chap_password.stdout }}

<a name="android"></a>
### Android ###
1. Lancez l'application *Paramètres*.
1. Appuyez *Plus...* dans la section *Sans fil et réseaux*.
1. Tapez *VPN*.
1. Tapez sur l'icône *+* dans le coin supérieur droit de l'écran.
1. Saisissez `{{ streisand_server_name }}` dans le champ *Nom*.
1. Sélectionnez *L2TP/IPSec PSK* dans le menu déroulant *Type*.
1. Saisissez `{{ streisand_ipv4_address }}` dans le champ *Adresse du serveur*.
1. Saisissez `{{ ipsec_preshared_key.stdout }}` dans le champ *Clé pré-partagée IPSec*.
1. Tapez *Enregistrer*.
1. Tapez la connexion *{{ streisand_server_name }}*.
1. Saisissez `streisand` dans le champ *Nom d'utilisateur*.
1. Saisissez `{{ chap_password.stdout }}` dans le champ *Mot de passe*.
1. Cochez l'option *Enregistrer les informations de compte*.
1. Tapez *Se Connecter*.
1. Une fois connecté, vous verrez une icône VPN dans la barre d'état. Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur Google](https://encrypted.google.com/search?hl=fr&q=ip%20address). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.

<a name="ios"></a>
### iOS ###

Il existe deux façons de configurer le VPN iOS L2TP pour se connecter à votre serveur Streisand. Le moyen le plus simple est d'installer un *profil* iOS contenant la configuration VPN. Vous pouvez également configurer le VPN [manuellement](#ios_manual).

Pour installer via le profil, visitez cette page avec Mobile Safari et tapez ici

 [__`streisand.mobileconfig`__](streisand.mobileconfig)

Si le fichier est téléchargé avec succès, iOS vous demandera si vous souhaitez installer le profil. Cliquez sur *Installer*. iOS demandera votre NIP pour confirmer que vous installez un profil. iOS va alors (correctement) vous avertir qu'un serveur VPN comme Streisand pourrait surveiller votre trafic réseau. Si cela vous convient, cliquez sur *Installer* de nouveau. Une fois installé, vous pouvez [activer le VPN](#ios_connect).

Vos profils installés sont gérés dans le menu *Réglages* d'iOS. Près du bas des paramètres du menu *Général*, vous trouverez un sous-menu *Profils* qui répertorie tous vos profils installés. Les profils de Streisand peuvent être retirés à tout moment.

Notez que les profils sont très puissants et que vous devez faire attention à l'installation des profils inconnus. iOS affichera quelles fonctionnalités seraient configurées par un profil avant de l'installer. Dans le cas de Streisand, la seule fonctionnalité sera "Service VPN".

<a name="ios_manual"></a>
Si vous préférez le configurer manuellement:

1. Ouvrez *Réglages* -> *Général* -> *VPN*.
1. Tapez *Ajouter une configuration VPN...*.
1. Tapez *Type*.
1. Sélectionnez *L2TP* et retourner.
1. Tapez *Description* et saisissez `{{ streisand_server_name }}`.
1. Tapez *Serveur* et saisissez `{{ streisand_ipv4_address }}`.
1. Tapez *Compte* et saisissez `streisand`.
1. Tapez *Mot de passe* et saisissez `{{ chap_password.stdout }}`.
1. Tapez *Secret* et saisissez `{{ ipsec_preshared_key.stdout }}`.
1. Tapez *OK*.
1. Faites glisser l'interrupteur *VPN* vers la position ON.
1. Une fois connecté, vous verrez une icône VPN dans la barre d'état. Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur Google](https://encrypted.google.com/search?hl=fr&q=ip%20address). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.

<a name="ios_connect"></a>
#### Connexion sur iOS ####
Pour activer le VPN:

1. Ouvrez *Réglages* -> *Général* -> *VPN*.
1. Faites glisser l'interrupteur *VPN* vers la position ON.
1. Une fois connecté, vous verrez une icône VPN dans la barre d'état. Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur Google](https://encrypted.google.com/search?hl=fr&q=ip%20address). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.

<a name="chromebook"></a>
### Chromebook ###
1. Cliquez sur *Paramètres*.
1. Sous *Connexion Internet* cliquez *Ajouter une connexion*.
1. Cliquez sur *Ajouter une connexion OpenVPN/L2TP*.
1. Saisissez `{{ streisand_ipv4_address }}` pour le *Nom d'hôte du serveur*.
1. Saisissez `{{ streisand_server_name }}` pour le *Nom du service*.
1. Vérifier que le *Type de fournisseur* est *L2TP/IPsec + clé pré-partagée*.
1. Saisissez `{{ ipsec_preshared_key.stdout }}` pour le *Clé pré-partagée*.
1. Saisissez `streisand` pour le *Nom d'utilisateur*.
1. Saisissez `{{ chap_password.stdout }}` pour le *Mot de passe*.
1. Cliquez sur *Se connecter*.
1. Une fois connecté, vous verrez une icône VPN dans la barre d'état. Vous pouvez vérifier que votre trafic est correctement routé par [recherche de votre adresse IP sur Google](https://encrypted.google.com/search?hl=fr&q=ip%20address). Il devrait dire *Votre adresse IP publique est {{streisand_ipv4_address}}*.
