ipcp-accept-local
ipcp-accept-remote
{% for item in upstream_dns_servers %}
ms-dns {{ item }}
{% endfor %}
noccp
auth
crtscts
idle 1800
mtu 1280
mru 1280
lock
lcp-echo-failure 10
lcp-echo-interval 60
connect-delay 5000
