<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadIdentifier</key>
	<string>streisand.mdm.{{ l2tp_mobileconfig_package_uuid.stdout }}.alacarte</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadScope</key>
	<string>System</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>{{ l2tp_mobileconfig_package_uuid.stdout }}</string>
	<key>PayloadOrganization</key>
	<string>Streisand Effect Department</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
	<key>PayloadDisplayName</key>
	<string>Streisand L2TP config for {{ streisand_server_name }}</string>
	<key>PayloadDescription</key>
	<string>This profile is a VPN configuration for the Streisand server "{{ streisand_server_name }}" running at {{ streisand_ipv4_address }}. It uses Apple's native L2TP/IPsec protocol. This profile can be removed at any time.</string>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>PayloadIdentifier</key>
			<string>streisand.mdm.{{ l2tp_mobileconfig_package_uuid.stdout }}.{{ l2tp_mobileconfig_vpn_uuid.stdout }}</string>
			<key>PayloadUUID</key>
			<string>{{ l2tp_mobileconfig_vpn_uuid.stdout }}</string>
			<key>PayloadEnabled</key>
			<true/>
			<key>PayloadDisplayName</key>
			<string>Streisand VPN ({{ streisand_server_name }})</string>
			<key>VPNType</key>
			<string>L2TP</string>
			<key>PPP</key>
			<dict>
				<key>OnDemandEnabled</key>
				<integer>0</integer>
				<key>CommRemoteAddress</key>
				<string>{{ streisand_ipv4_address }}</string>
				<key>AuthName</key>
				<string>streisand</string>
				<key>AuthenticationMethod</key>
				<string>Password</string>
				<key>AuthPassword</key>
				<string>{{ chap_password.stdout|e }}</string>
			</dict>
			<key>IPSec</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>SharedSecret</string>
				<key>PromptForVPNPIN</key>
				<false/>
				<key>OnDemandEnabled</key>
				<integer>0</integer>
				<key>SharedSecret</key>
				<data>
				{{ ipsec_preshared_key_base64.stdout|e }}
				</data>
			</dict>
			<key>ikev2IKESADiffieHellmanGroup</key>
			<string>14</string>
			<key>ikev2ChildSADiffieHellmanGroup</key>
			<string>14</string>
			<key>Proxies</key>
			<dict>
			</dict>
			<key>AlwaysOn</key>
			<dict>
				<key>UIToggleEnabled</key>
				<integer>1</integer>
				<key>AllowCaptiveWebSheet</key>
				<integer>1</integer>
			        <key>TunnelConfigurations</key>
				<array>
					<dict>
						<key>ProtocolType</key>
						<string>IKEv2</string>
						<key>Interfaces</key>
						<array>
							<string>Cellular</string>
						</array>
						<key>AuthenticationMethod</key>
						<string>SharedSecret</string>
						<key>DeadPeerDetectionRate</key>
						<string>Medium</string>
						<key>DisconnectOnIdle</key>
						<integer>1</integer>
						<key>DisconnectOnIdleTimer</key>
						<integer>1800</integer>
						<key>CertificateType</key>
						<string>RSA</string>
					</dict>
					<dict>
						<key>ProtocolType</key>
						<string>IKEv2</string>
						<key>Interfaces</key>
						<array>
							<string>WiFi</string>
						</array>
						<key>AuthenticationMethod</key>
						<string>SharedSecret</string>
						<key>DeadPeerDetectionRate</key>
						<string>Medium</string>
						<key>DisconnectOnIdle</key>
						<integer>1</integer>
						<key>DisconnectOnIdleTimer</key>
						<integer>1800</integer>
						<key>CertificateType</key>
						<string>RSA</string>
					</dict>
				</array>
			</dict>
			<key>DisconnectOnIdle</key>
			<integer>0</integer>
			<key>UserDefinedName</key>
			<string>Streisand ({{ streisand_server_name}})</string>
			<key>updated_at_xid</key>
			<integer>350000</integer>
			<key>IPv4</key>
			<dict>
				<key>OverridePrimary</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
