[Unit]
Description=Set iptables rules required for L2TP/IPsec gateway
After=network.target
Before=ipsec.service

[Service]
Type=oneshot
RemainAfterExit=true
{% for rule in l2tp_ipsec_firewall_rules %}
ExecStart=/sbin/{{ rule }}
{% endfor %}

[Install]
WantedBy=multi-user.target
