#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See resolved.conf(5) for details

[Resolve]
DNS={{ upstream_dns_servers | join(' ') }}
FallbackDNS=1.1.1.1 1.0.0.1
#Domains=
LLMNR=yes
#MulticastDNS=no
DNSSEC=no
Cache=yes
DNSStubListener=yes
