<a name="tor"></a>
### Tor Browser Bundle ###

**Linux**

* [{{ tor_linux32_filename_template | regex_replace('locale', item.value.tor_locale)  }}]({{ tor_linux32_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux32_sig_href | regex_replace('locale', item.value.tor_locale) }}))
* [{{ tor_linux64_filename_template | regex_replace('locale', item.value.tor_locale)  }}]({{ tor_linux64_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux64_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**OS X**

* [{{ tor_osx_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_osx_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_osx_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**Windows**

* [{{ tor_windows_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_windows_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_windows_sig_href | regex_replace('locale', item.value.tor_locale) }}))
