SocksPort 0
ORPort {{ tor_orport }}
ExtORPort auto
BridgeRelay 1
ExitPolicy reject *:*

Nickname {{ tor_bridge_nickname.stdout }}

ServerTransportPlugin obfs3 exec /usr/bin/obfsproxy managed

HiddenServiceDir {{ tor_hidden_service_directory }}
HiddenServicePort 80 {{ nginx_internal_hidden_service_address }}
