## Global options, override default control socket/state file
[Global]
control_socket = {{ tor_hidden_service_run_directory }}/control
state_file = {{ tor_hidden_service_state_directory }}/vanguards.state
