Miroirs des clients
-------------------

Les fichiers reflétés ci-dessous ont tous été cryptographiquement vérifiés. Dans le cas où c'est possible, vérification avec les clés de signature GPG officielles de chaque projet ont été utilisées. Les sommes de contrôle SHA-256 vérifie l'intégrité de tous les autres fichiers.

---
* Les clients
{% if streisand_openconnect_enabled %}
  * [OpenConnect](openconnect/inded-fr.html)
{% endif %}
{% if streisand_openvpn_enabled %}
  * [OpenVPN](openvpn/index-fr.html)
{% if streisand_stunnel_enabled %}
  * [Stunnel](stunnel/index-fr.html)
{% endif %}
{% endif %}
{% if streisand_shadowsocks_enabled %}
  * [Shadowsocks](shadowsocks/index-fr.html)
{% endif %}
  * [OpenSSH](#ssh)
  * [Tor Browser Bundle](#tor)

<a name="ssh"></a>
### SSH ###

**Linux et OS X**

* [{{ sshuttle_filename }}]({{ sshuttle_href }})
  * Somme de contrôle: *{{ sshuttle_checksum }}*

**Windows**

* [{{ putty_filename }}]({{ putty_href }}) ([sig]({{ putty_sig_href }}))

<a name="tor"></a>
### Tor Browser Bundle (localisé en français) ###

**Linux**

* [{{ tor_linux32_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_linux32_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux32_sig_href | regex_replace('locale', item.value.tor_locale) }}))
* [{{ tor_linux64_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_linux64_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux64_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**OS X**

* [{{ tor_osx_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_osx_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_osx_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**Windows**

* [{{ tor_windows_filename_template |  regex_replace('locale', item.value.tor_locale) }}]({{ tor_windows_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_windows_sig_href | regex_replace('locale', item.value.tor_locale) }}))
