Client Mirrors
--------------

The files mirrored below have all been cryptographically verified. Where possible, each project's official GPG signing keys were used. SHA-256 checksums verified the integrity of all other files.

---
* Clients
  * [OpenConnect](#openconnect)
  * [OpenVPN](#openvpn)
  * [Shadowsocks](#shadowsocks)
  * [OpenSSH](#ssh)
  * [Stunnel](#stunnel)
  * [Tor Browser Bundle](#tor)

<a name="openconnect"></a>
### OpenConnect ###

**Source**

* [{{ openconnect_source_filename }}]({{ openconnect_source_href }})
  * Checksum: *{{ openconnect_source_checksum }}*

**Windows**

* [{{ openconnect_windows_filename }}]({{ openconnect_windows_href }})
  * Checksum: *{{ openconnect_windows_checksum }}*

<a name="openvpn"></a>
### OpenVPN ###

**Source**

* [{{ openvpn_source_filename }}]({{ openvpn_source_href }}) ([sig]({{ openvpn_source_sig_href }}))

**OS X**

* [Tunnelblick\_{{ tunnelblick_version }}.dmg]({{ tunnelblick_href }})
  * Checksum: *{{ tunnelblick_checksum }}*

**Windows**

* [{{ openvpn_windows_installer_filename }}]({{ openvpn_windows_installer_href }}) ([sig]({{ openvpn_windows_installer_sig_href }}))

<a name="shadowsocks"></a>
### Shadowsocks ###

**Linux x64**

* [{{ shadowsocks_go_filename }}]({{ shadowsocks_go_href }})
  * Checksum: *{{ shadowsocks_go_checksum }}*

**Android**

* [{{ shadowsocks_android_filename }}]({{ shadowsocks_android_href }})
  * Checksum: *{{ shadowsocks_android_checksum }}*

**OS X**

* [{{ shadowsocks_x_ng_filename }}]({{ shadowsocks_x_ng_href }})
  * Checksum: *{{ shadowsocks_x_ng_checksum }}*

**Windows**

* [{{ shadowsocks_gui_filename }}]({{ shadowsocks_gui_href }})
  * Checksum: *{{ shadowsocks_gui_checksum }}*

<a name="ssh"></a>
### SSH ###

**Linux and OS X**

* [{{ sshuttle_filename }}]({{ sshuttle_href }})
  * Checksum: *{{ sshuttle_checksum }}*

**Windows**

* [{{ putty_filename }}]({{ putty_href }}) ([sig]({{ putty_sig_href }}))

<a name="stunnel"></a>
### stunnel ###

**Source**

* [{{ stunnel_source_filename }}]({{ stunnel_source_href }}) ([sig]({{ stunnel_source_sig_href }}))

**Windows**

* [{{ stunnel_installer_filename }}]({{ stunnel_installer_href }}) ([sig]({{ stunnel_installer_sig_href }}))

<a name="tor"></a>
### Tor Browser Bundle ###

**Linux**

* [{{ tor_linux32_filename_template | regex_replace('locale', item.value.tor_locale)  }}]({{ tor_linux32_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux32_sig_href | regex_replace('locale', item.value.tor_locale) }}))
* [{{ tor_linux64_filename_template | regex_replace('locale', item.value.tor_locale)  }}]({{ tor_linux64_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux64_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**OS X**

* [{{ tor_osx_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_osx_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_osx_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**Windows**

* [{{ tor_windows_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_windows_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_windows_sig_href | regex_replace('locale', item.value.tor_locale) }}))
