Miroirs des clients
-------------------

Les fichiers reflétés ci-dessous ont tous été cryptographiquement vérifiés. Dans le cas où c'est possible, vérification avec les clés de signature GPG officielles de chaque projet ont été utilisées. Les sommes de contrôle SHA-256 vérifie l'intégrité de tous les autres fichiers.

---
* Les clients
  * [OpenConnect](#openconnect)
  * [OpenVPN](#openvpn)
  * [Shadowsocks](#shadowsocks)
  * [OpenSSH](#ssh)
  * [Stunnel](#stunnel)
  * [Tor Browser Bundle](#tor)

<a name="openconnect"></a>
### OpenConnect ###

**Source**

* [{{ openconnect_source_filename }}]({{ openconnect_source_href }})
  * Somme de contrôle: *{{ openconnect_source_checksum }}*

**Windows**

* [{{ openconnect_windows_filename }}]({{ openconnect_windows_href }})
  * Somme de contrôle: *{{ openconnect_windows_checksum }}*

<a name="openvpn"></a>
### OpenVPN ###

**Source**

* [{{ openvpn_source_filename }}]({{ openvpn_source_href }}) ([sig]({{ openvpn_source_sig_href }}))

**OS X**

* [Tunnelblick\_{{ tunnelblick_version }}.dmg]({{ tunnelblick_href }})
  * Somme de contrôle: *{{ tunnelblick_checksum }}*

**Windows**

* [{{ openvpn_windows_installer_filename }}]({{ openvpn_windows_installer_href }}) ([sig]({{ openvpn_windows_installer_sig_href }}))

<a name="shadowsocks"></a>
### Shadowsocks ###

**Linux x64**

* [{{ shadowsocks_go_filename }}]({{ shadowsocks_go_href }})
  * Somme de contrôle: *{{ shadowsocks_go_checksum }}*

**Android**

* [{{ shadowsocks_android_filename }}]({{ shadowsocks_android_href }})
  * Somme de contrôle: *{{ shadowsocks_android_checksum }}*

**OS X**

* [{{ shadowsocks_x_ng_filename }}]({{ shadowsocks_x_ng_href }})
  * Somme de contrôle: *{{ shadowsocks_x_ng_checksum }}*

**Windows**

* [{{ shadowsocks_gui_filename }}]({{ shadowsocks_gui_href }})
  * Somme de contrôle: *{{ shadowsocks_gui_checksum }}*

<a name="ssh"></a>
### SSH ###

**Linux et OS X**

* [{{ sshuttle_filename }}]({{ sshuttle_href }})
  * Somme de contrôle: *{{ sshuttle_checksum }}*

**Windows**

* [{{ putty_filename }}]({{ putty_href }}) ([sig]({{ putty_sig_href }}))

<a name="stunnel"></a>
### stunnel ###

**Source**

* [{{ stunnel_source_filename }}]({{ stunnel_source_href }}) ([sig]({{ stunnel_source_sig_href }}))

**Windows**

* [{{ stunnel_installer_filename }}]({{ stunnel_installer_href }}) ([sig]({{ stunnel_installer_sig_href }}))

<a name="tor"></a>
### Tor Browser Bundle (localisé en français) ###

**Linux**

* [{{ tor_linux32_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_linux32_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux32_sig_href | regex_replace('locale', item.value.tor_locale) }}))
* [{{ tor_linux64_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_linux64_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_linux64_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**OS X**

* [{{ tor_osx_filename_template | regex_replace('locale', item.value.tor_locale) }}]({{ tor_osx_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_osx_sig_href | regex_replace('locale', item.value.tor_locale) }}))

**Windows**

* [{{ tor_windows_filename_template |  regex_replace('locale', item.value.tor_locale) }}]({{ tor_windows_href | regex_replace('locale', item.value.tor_locale) }}) ([sig]({{ tor_windows_sig_href | regex_replace('locale', item.value.tor_locale) }}))
